body {
  margin: 0;
  font-family: 'Crimson Pro', serif;
}

.container {
  /* background-color: cadetblue; */
  width: 1100px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.header-container {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.header-section {
  /* background-color: aqua; */
  width: 620px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header-line {
  display: flex;
  justify-content: center;
}

.header-line h2 {
  font-size: 30px;
  margin: 5px auto;
}

.subheader-line {
  display: table;
  text-align: center;
  font-size: 22px;
  color: #808080;
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

.button-container a {
  color: inherit;
}

.button-wrapper {
  font-size: 20px;
  height: 50px;
  width: 175px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  box-shadow: 0px 0px 15px rgba(126, 124, 124, 0.772);
}

.find-out-more:hover {
  color: #808080;
}

.signup-button {
  background-color: rgb(23, 23, 168);
  color: white;
  border-color: rgb(23, 23, 168);
}

.signup-button:hover {
  background-color: rgba(23, 23, 168, 0.62);
  border-color: rgb(23, 23, 168, 0.62);
}

section video {
  width: 100%;
  height: 100%;
  /* border-radius: 0px; */
  outline: 0px;
  right: -1px;
}

.illustration-container {
  /* background-color: aqua; */
  margin-top: 130px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.illustration-container svg {
  width: 250px;
  height: auto;
}

.feature-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(2, 1fr);
  gap: 50px;
}

.feature-items {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feature-items h4 {
  text-align: center;
  font-size: 19px;
  margin: 5px;
  color: #343a40;
}

.feature-items p {
  display: table;
  text-align: center;
  font-size: 17px;
  color: #868e96;
}

.feature-items svg {
  width: 40px;
  height: auto;
}

.support-container {
  max-width: 480px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.support-container * {
  display: table;
  text-align: center;
  margin-bottom: 0;
}

.support-container h2 {
  font-size: 35px;
}

.support-container p {
  font-size: 20px;
  color: #868e96;
}

hr {
  border: 0;
  width: 90%;
  background: #333;
  background-image: linear-gradient(to right, #f1f3f5, #ced4da, #f1f3f5);
  height: 1px;
}

.join-and-pricing-container {
  display: flex;
  flex-direction: column;
  gap: 120px;
  margin-bottom: 50px;
}

.join-container {
  width: 480px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.join-item-text h2 {
  text-align: center;
  font-size: 40px;
  margin-bottom: 0;
}

.join-item-text p {
  display: table;
  text-align: center;
  font-size: 20px;
  margin-bottom: 0;
  color: #868e96;
}

.signup-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 70px;
  border: 2px solid #e9ecef;
  border-radius: 5px;
  gap: 10px;
}

.signup-input {
  flex-grow: 1;
}

.signup-input input {
  width: 100%;
  height: 40px;
  margin-left: 15px;
  font-family: 'Crimson Pro', serif;
  font-size: 22px;
  color: #868e96;
  border: none;
}

.signup-input input:focus {
  outline: none;
}

.signup-container a {
  color: inherit;
}

.join-signup-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 140px;
  height: 50px;
  font-size: 20px;
  background-color: rgb(23, 23, 168);
  color: white;
  border-color: rgb(23, 23, 168);
  border-radius: 5px;
  margin: 5px 20px;
}

.join-signup-button:hover {
  background-color: rgba(23, 23, 168, 0.62);
  border-color: rgb(23, 23, 168, 0.62);
}
.pricing-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}

.pro-pricing {
  background-color: #f1f3f5;
}

.pricing-items {
  /* max-width: 150px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px;
  border-radius: 10px;
}

.price-value {
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.pricing-items * {
  margin: 0;
  margin-bottom: 10px;
  text-align: center;
}

.pricing-items h4 {
  font-weight: 500;
  color: #495057;
}

.pricing-items h2 {
  display: inline;
  /* color: #495057; */
  font-size: 40px;
}

.pricing-items span {
  font-size: 20px;
  font-weight: 300;
  color: #495057;
}

.pricing-details {
  font-size: 17px;
  font-weight: 500;
  color: #343a40;
}

.footer-cotainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: 300;
  margin-bottom: 30px;
  color: #343a40;
}
